@import url("src/index.css");

html {
	color-scheme: light dark;

	&:has(input:checked) {
		color-scheme: dark;
	}
}

body {
	font: 100%/1.5 system-ui, sans-serif;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;

	td, th {
		padding: .2em .5em;

		&.swatch {
			background: oklch(from var(--color) var(--tint, var(--tint-core)));
		}
	}

	th:first-child {
		min-width: 125ch;
	}
}

.callouts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
	gap: 1em;
	margin-top: 2em;
}

.callout {
	--color-10: oklch(from var(--color) var(--tint-10));
	--color-20: oklch(from var(--color) var(--tint-20));
	--color-30: oklch(from var(--color) var(--tint-30));
	--color-40: oklch(from var(--color) var(--tint-40));
	--color-50: oklch(from var(--color) var(--tint-50));
	--color-60: oklch(from var(--color) var(--tint-60));
	--color-70: oklch(from var(--color) var(--tint-70));
	--color-75: oklch(from var(--color) var(--tint-75));
	--color-80: oklch(from var(--color) var(--tint-80));
	--color-85: oklch(from var(--color) var(--tint-85));
	--color-90: oklch(from var(--color) var(--tint-90));
	--color-95: oklch(from var(--color) var(--tint-95));

	background: light-dark(var(--color-95), var(--color-10));
	border: 1px solid light-dark(var(--color-80), var(--color-20));
	border-radius: 0.25em;
	color: light-dark(var(--color-10), var(--color-90));
	padding: .5em .8em .8em;

	h3 {
		font-weight: bold;
		font-size: 1.25em;
		margin: 0 0 0.2em;
		color: light-dark(var(--color-40), var(--color-60));
	}

	p {
		margin: 0;
	}

	code {
		background: light-dark(var(--color-90), var(--color-20));
		border: 1px solid light-dark(var(--color-75), var(--color-30));
		border-radius: 0.25em;
		padding: 0.2em 0.4em;
	}

	footer {
		margin-top: 0.5em;
		display: flex;
		gap: 0.5em;
	}

	button {
		background: var(--color);
		border: 1px solid transparent;
		border-radius: 0.25em;
		color: oklch(from var(--color) var(--tint-text));
		font-size: 1em;
		padding: .4em .8em;
		font-weight: 600;
		cursor: pointer;

		&:hover {
			background: oklch(from var(--color) var(--tint-darker));
		}

		&.outline {
			border-color: var(--color);
			background: none;
			color: var(--color);
		}
	}
}
