/* Lightnesses for each tint */
:where(:scope, :host) {
	--l-100: 1;
	--l-95: 0.97;
	--l-90: 0.93;
	--l-85: 0.87;
	--l-80: 0.84;
	--l-75: 0.79;
	--l-70: 0.74;
	--l-65: 0.69;
	--l-60: 0.63;
	--l-55: 0.58;
	--l-50: 0.52;
	--l-45: 0.47;
	--l-40: 0.42;
	--l-35: 0.38;
	--l-30: 0.33;
	--l-25: 0.28;
	--l-20: 0.23;
	--l-15: 0.18;
	--l-10: 0.14;
	--l-0: 0;
}
