:where(&) {
	/* 0.623 is the L threshold for switching from light to dark text */
	--l-threshold: 0.7;
	--is-light: max(sign(l - var(--l-threshold)), 0);
	--is-dark: (1 - var(--is-light));

	--l-text: calc(var(--is-dark) * var(--l-100) + var(--is-light) * var(--l-40));
	--c-text: calc(var(--is-dark) * var(--c-100) + var(--is-light) * var(--c-40));

	--tint-text: var(--l-text) var(--c-text) h;
}
