:where(&) {
	/* 0.623 is the L threshold for switching from light to dark text */
	--l-threshold: 0.66;
	--is-light: clamp(0, (l - var(--l-threshold)) * infinity, 1);
	--is-dark: (1 - var(--is-light));
	/* FIXME: this is wrong. We're generating a tint-30 based on the background color, not the core color */
	--text: calc(var(--is-dark) * 1 + var(--is-light) * var(--l-30))
		calc(var(--is-light) * var(--c-30)) h;
}
