:where(&) {
	--tint-0: 0% none none;
	--tint-10: var(--l-10) var(--c-10) h;
	--tint-20: var(--l-20) var(--c-20) h;
	--tint-30: var(--l-30) var(--c-30) h;
	--tint-40: var(--l-40) var(--c-40) h;
	--tint-50: var(--l-50) var(--c-50) h;
	--tint-60: var(--l-60) var(--c-60) h;
	--tint-70: var(--l-70) var(--c-70) h;
	--tint-80: var(--l-80) var(--c-80) h;
	--tint-90: var(--l-90) var(--c-90) h;
	--tint-100: 100% none none;
	--tint-core: l c h;
}
