:where(&) {
	--tint-00: var(--l-0) var(--c-0) h;
	--tint-05: var(--l-5) var(--c-05) h;
	--tint-10: var(--l-10) var(--c-10) h;
	--tint-15: var(--l-15) var(--c-15) h;
	--tint-20: var(--l-20) var(--c-20) h;
	--tint-25: var(--l-25) var(--c-25) h;
	--tint-30: var(--l-30) var(--c-30) h;
	--tint-35: var(--l-35) var(--c-35) h;
	--tint-40: var(--l-40) var(--c-40) h;
	--tint-45: var(--l-45) var(--c-45) h;
	--tint-50: var(--l-50) var(--c-50) h;
	--tint-55: var(--l-55) var(--c-55) h;
	--tint-60: var(--l-60) var(--c-60) h;
	--tint-65: var(--l-65) var(--c-65) h;
	--tint-70: var(--l-70) var(--c-70) h;
	--tint-75: var(--l-75) var(--c-75) h;
	--tint-80: var(--l-80) var(--c-80) h;
	--tint-85: var(--l-85) var(--c-85) h;
	--tint-90: var(--l-90) var(--c-90) h;
	--tint-95: var(--l-95) var(--c-95) h;
	--tint-100: var(--l-100) var(--c-100) h;
	--tint-core: l c h;
}
