:where(:scope, :host) {
	/* Max chroma for each lightness, based on P3 gamut and eyeballing */
	--c-10-max: 0.15;
	--c-20-max: 0.16;
	--c-30-max: 0.2;
	--c-40-max: 0.25;
	--c-50-max: 0.3;
	--c-60-max: 0.2;
	/* https://www.desmos.com/calculator/obgqui2jlp */
	--c-70-max: min(max(0.22, 0.18 + min(0.33, 1 / abs(h - 145), 0.13 + 2.2 / abs(h - 335))), 0.17);
	/* https://www.desmos.com/calculator/uhcr1irtmz */
	--c-80-max: min(0.17, 0.17 + 1.9 / abs(h - 145));
	/* https://www.desmos.com/calculator/mpx57mwtgv */
	--c-90-max: max(
		min(
			0.246,
			max(
				/* 0 to 103 */ (0.55 / (103 - h) + 0.015),
				/* 106 to 170 */ (1 / (h - 106) + 0.031) * ((170 - h) / abs(170 - h))
			)
		),
		min(0.053, 0.8 / abs(h - 180) + 0.008),
		0.037 - sqrt(abs((h - 330) * 0.00001))
	);
	--c-90-max: 1;

	/* For tints 10 - 70, clipping seems to be sufficient */
	--c-10: clamp(0, c, var(--c-10-max));
	--c-20: clamp(0, c, var(--c-20-max));
	--c-30: clamp(0, c, var(--c-30-max));
	--c-40: clamp(0, c, var(--c-40-max));
	--c-50: clamp(0, c, var(--c-50-max));
	--c-60: clamp(0, c, var(--c-60-max));
	--c-70: clamp(0, c, var(--c-70-max));

	/* Exponent of the chroma power curve used for interpolating 80 */
	--c-factor: 1.2;

	/* Distance from core color as a fraction of max distance in that direction. 0-1
		If core color is lighter than tint, this will return 0.
	 */
	--p-80: clamp(0, (var(--l-80) - l) / (var(--l-90) - l), 1);

	/* For tint 80 we interpolate between the core color and 90 if the core color is darker than the tint
	   and just clip if the core color is lighter than the tint
	*/
	--c-80: min(c - pow(var(--p-80), var(--c-factor)) * (c - var(--c-90)), var(--c-80-max));

	/* Steps of distance from 90 to core color. ± */
	--steps-90: (round(down, (var(--l-90) - l), 0.1) / 0.1);

	--c-90: min(c * (1 - var(--steps-90) * 0.15), var(--c-90-max));

	--tint-0: 0% none none;
	--tint-10: var(--l-10) var(--c-10) h;
	--tint-20: var(--l-20) var(--c-20) h;
	--tint-30: var(--l-30) var(--c-30) h;
	--tint-40: var(--l-40) var(--c-40) h;
	--tint-50: var(--l-50) var(--c-50) h;
	--tint-60: var(--l-60) var(--c-60) h;
	--tint-70: var(--l-70) var(--c-70) h;
	--tint-80: var(--l-80) var(--c-80) h;
	--tint-90: var(--l-90) var(--c-90) h;
	--tint-100: 100% none none;
	--tint-core: l c h;

	/* 0.623 is the L threshold for switching from light to dark text */
	--l-threshold: 0.66;
	--is-light: clamp(0, (l - var(--l-threshold)) * infinity, 1);
	--is-dark: (1 - var(--is-light));
	/* FIXME: this is wrong. We're generating a tint-30 based on the background color, not the core color */
	--text: calc(var(--is-dark) * 1 + var(--is-light) * var(--l-30))
		calc(var(--is-light) * var(--c-30)) h;
}
